# Build artifacts
bin/
obj/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# IDE
.vs/
.vscode/

# Logs
*.log

# Environment files
.env
.env.*

# OS files
Thumbs.db
Desktop.ini

# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.lock.hcl

# Docker
*.pid
*.seed
